body{
    background-color: hsl(30, 38%, 92%);

}
.container {
   display: flex;
   align-items: center;
   justify-content:center;
   flex-basis: auto;
    background-color: hsl(0, 0%, 100%);
    width:700px;
    height:500px;
    margin: auto;
    
    border-radius: 10px;
    margin-top:90px;
 }
 .image img {
   width:350px;
   height:500px;
   border-top-left-radius: 5px;
   border-bottom-left-radius:5px;
 }
 .text-part {
    background-color: hsl(0, 0%, 100%);
 }
.header {
   opacity:0.5;
   margin-left:45px;
   text-transform: capitalize;
   letter-spacing: 2px;
   position: relative;
   top:12px;
}
 h1 {
  font-family: "Fraunces", serif;
  font-optical-sizing: auto;
  font-weight:700;
  font-style: normal;
  font-variation-settings:
    "WONK" 0;
  margin-left:45px;
  font-size:2.1rem;
  margin-right:20px ;
 }
    
 p {
   margin-left:50px;
   margin-right:45px;
   line-height:1.5;
   font:0.875rem;
   font-family: "Montserrat", sans-serif;
  font-optical-sizing: auto;
  font-weight:400;
  font-style: normal;
  margin-top:30px;
  opacity:0.8;
  
}
    
 .btn{
   padding:12px 80px 12px 80px;
   background-color: hsl(158, 36%, 37%);
   font-family: "Montserrat", sans-serif;
  font-optical-sizing: auto;
  font-weight: 500;
  font-style: normal;
  color:hsl(0, 0%, 100%);
  border-radius: 5px;
  border:1px solid  hsl(158, 36%, 37%);
  margin:50px 30px 30px 50px;
 }

 .btn:hover{
   padding:12px 80px 12px 80px;
   background-color: hsl(158, 42%, 18%);
   font-family: "Montserrat", sans-serif;
  font-optical-sizing: auto;
  font-weight: 500;
  font-style: normal;
  color:hsl(0, 0%, 100%);
  border:1px solid   hsl(158, 42%, 18%);
  border-radius: 5px;
  margin:50px 30px 30px 50px;
 }

 .prices label {
   font-family: "Fraunces", serif;
  font-optical-sizing: auto;
  font-weight:700;
  font-style: normal;
  font-size: 1.5rem;
  color: hsl(158, 42%, 18%);
 }

 em {
   opacity:0.3;
   text-decoration-line: line-through;
   font-family: "Montserrat", sans-serif;
  font-optical-sizing: auto;
  font-weight:500;
  font-style: normal;
  padding-left: 25px;
  padding-bottom: 10px;
 }
 .prices {
   position: relative;
   top:35px;
   left:55px;
 }

















